# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# macOS
.DS_Store

# Android
android/
*.apk
*.ap_
*.dex
*.class
*.so
*.jars
*.keystore
*.hprof
*.log
*.xml
*.java

# iOS
ios/
*.pbxproj
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcuserdata
*.xcodeproj
*.xcscheme
*.plist
*.ipa
*.dSYM
*.mobileprovision